<mat-toolbar color="primary" class="mat-elevation-z15 toolbar_style">

    <button mat-button class="sidenav-toggle" (click)="sidenavToggle.emit()">
        <mat-icon>menu</mat-icon>
    </button>

    <div style="display:flex; justify-content:center; align-items:center;">
        <img src="/assets/users/{{userName}}.jpg" onerror="src='/assets/users/profile.jpg'" class="profile-img">
        <h1>{{userName}}</h1>
    </div>

    <button mat-button [matMenuTriggerFor]="appMenu">
        <mat-icon >more_vert</mat-icon>
    </button>
    <mat-menu #appMenu>
        <button mat-menu-item (click)="changeView()" *ngIf="isAdmin">Change view</button>
        <button mat-menu-item (click)="showUsers()" *ngIf="isAdmin">Users</button>
        <button mat-menu-item (click)="toggleTheme.emit()">Toggle theme</button>
        <button mat-menu-item (click)="logOut()">Log out</button>
    </mat-menu>    
</mat-toolbar>
