$iconWidth:56px;

.sidenav-toggle{
    padding: 0px;
    margin: 8px;
    min-width: $iconWidth;

    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon{
        font-size: 30px;
        height: $iconWidth;
        width: $iconWidth;
        line-height: $iconWidth;
        color: white;
    }
}

.toolbar_style{

    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */

    display: flex;
    justify-content: space-between;

    @media (max-width:720px){
        height: 170px;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

.example-form {
    padding-top: 10px;
    min-width: 50px;
    padding-right: 50px;
    @media (max-width:720px){
        padding-right: 10px;
    }
}

.toolbar-features{
    display:flex; 
    justify-content:center; 
    align-items:center;

    @media (max-width:720px){
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h2{
            visibility: collapse;
        }
    }
}

.meni-button{
    @media (max-width:720px){
        position: absolute;
        top: 0;
        right: 0;
        line-height: 14px;
        margin: 20px;
    }
}
  




