.card{
  width: 350px;
  height: 200px;
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 50%;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.menu-btn-position {
  flex: 1 1 auto;
}



