.example-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
  width: 300px;
  height: 300px;
  justify-content: center;
}

.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  gap:10px 10px; //rows gap columns gap

  background-color: gray;
}

.flex-item{
  font-weight: bold;
  text-align: center;
}

.mat-card:hover{
  background-color:lightgray;
}

.card_content{
  width: 250px;
  justify-content: center;
}

.liked{
  color: blue;
}

.not_liked{
  color: black;
}

::ng-deep .tooltip {
  background-color: blue;
  font-size: 20px;
}


