.table_align{
  width: 100%;
  justify-content: space-around;
  height: auto;
}
.mat-row:hover {
  background-color:lightgray;
}

.table-image{
  display: flex;
  align-self: center;
  align-content: center;
  width: 50px;
  height: 40px;
  margin: 10px;
}

.desc_cell{
  overflow: auto;
  max-width: 330px;
  text-align: justify;
  padding: 10px;
}

.inputFilter{
  margin: 1px;
}

.right{
  float: right;
  margin-right: 80px;
  font-size: 4rem;
  cursor: pointer;
}

td{
  word-wrap: break-word;
  @media (max-width:500px){
    border: solid 1px lightgray;
    border-radius: 5%;
  }
}
