<mat-toolbar color="primary" class="mat-elevation-z15 toolbar_style">

    <button mat-button matTooltip="Home page" (click)="navigateHome()">
        <mat-icon>home</mat-icon>
    </button>

    <div style="display:flex; justify-content:center; align-items:center;">
        <img src="/assets/users/{{userName}}.jpg" onerror="src='/assets/users/profile.jpg'" class="profile-img">
        <h1>{{userName}}</h1>
        <button mat-button [matMenuTriggerFor]="appMenu">
            <mat-icon >more_vert</mat-icon>
        </button>
    </div>


    <mat-menu #appMenu>
        <button mat-menu-item (click)="navigateBooks()">Books</button>
        <button mat-menu-item  (click)="logOut()">Log out</button>
    </mat-menu>    
</mat-toolbar>
