
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>{{headline}}</mat-card-title>
        </mat-card-header>
        <form [formGroup]="registerForm" class="example-form">
            <mat-card-content>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>User name</mat-label>
                    <input matInput placeholder="User name" formControlName="userName"> 
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill"> 
                    <mat-label>Password</mat-label>
                    <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Password" formControlName="password">
                    <mat-icon matSuffix (click)="togglePasswordVisibility()">
                        {{showPassword?'visibility_off':'visibility'}} 
                    </mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role">
                      <mat-option value="admin">admin</mat-option>
                      <mat-option value="user">user</mat-option>
                      <mat-option value="other">other</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button class="btn-block" (click)="registerUser()" [disabled]="registerForm.invalid"> Save </button>
            <button mat-stroked-button class="btn-block" (click)="dismiss()" style="margin-top: 5px;">Cancel</button>
        </form>
    </mat-card>
</div>

