.table_features{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.table_align{
  width: 100%;
  justify-content: space-between;
}

.add{
  font-size: 3rem;
  cursor: pointer;
}

.mat-row:hover {
  background-color:lightgray;
}
