<mat-card *ngIf="book" >
    <mat-card-title-group class="card">
        <mat-card-title>{{book?.title}}</mat-card-title>
        <mat-card-subtitle>{{book?.author}}</mat-card-subtitle>
        <img mat-card-xl-image [src]='getBookImage(book)'>
    </mat-card-title-group>

    <mat-card-content>
        <mat-tab-group mat-align-tabs="center" class="tabs">
            <mat-tab label="Comments">
                <div class="comment_dialog">
                    <button mat-button (click)="postComment(book)" matTooltip="Leave your comment"> <mat-icon>chat</mat-icon> Comment</button>
                </div>
                <div class="comments" *ngFor="let comment of comments">
                    <div class="header">
                       <p>{{comment.userName}}</p> <p>{{comment.date |   date:'short'}}</p> 
                    </div>
                    <div class="comment">
                        {{comment.plainComment}}
                    </div>
                </div>
                <div class="comment" *ngIf="comments.length == 0">
                    <p>Be first one to comment this book</p>
                </div>
            </mat-tab>
            <mat-tab label="Genre">
                <p class="mat-tab">
                    {{book.bookGenreId | genreName : genres}}
                </p>
            </mat-tab>
            <mat-tab label="Details">
                <p class="mat-tab" >
                    Price: {{book?.price | currency}} <br>
                    Pages: {{book?.pagesNumber}}
                </p>
            </mat-tab>
            <mat-tab label="Description">
                <p class="mat-tab">
                    {{book?.description}}
                </p>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>    
