.card-title{
    height: auto;
    max-width: 600px;

    @media (max-width:720px){
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

mat-card-content{
    max-height: 400px;
}

.tabs{
    max-height: 350px;
     overflow: auto;
}

.comments{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.comment{
    margin: 20px;
    font-weight: bold;
    overflow-wrap: break-word;
}

.header{
    display: flex;
    justify-content: space-between;
    border-bottom: solid lightgray 1px;
    color: gray;
}

.comment_dialog{
    text-align: center;
    margin: 10px;
    border: solid gray 1px;
    border-radius: 5%;
    background-color: lightgray;
}

.mat-tab{
    padding: 10px;
    font-weight: bold;
    background-color: lightgrey;
}

img{
    width: 150px;
    height: 170px;

    @media (max-width:720px){
        width: 100px;
        height: 100px;
    }
}





